.background{
    width: 100vw;
    height: 100vh;
    background-image: url(png/background.png);
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}      
 .body{
    margin: 0px;
 }

 .player{
    height: 250px;
    margin-top: 540px;
    position: absolute;
 }
 .score{
   position: absolute;
   font-size: 60px;
   font-family: "Arial";
   font-weight: bold;
   margin-left: 25px;

 }
 .block{
   position: absolute;
   width: 80px;
   height: 180px;
   background-image: url(png/flame.gif);
   background-size: cover;
   margin-top: 625px;
 }

 .gameOver{
  position: absolute;
  width:  100vw;
  height: 100vh;
  background-color: red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  font-size: 80px;
  font-family: "Arial";
  font-weight: bold;
  
  opacity: 0.6;
  visibility: hidden;
 }

 .button{
  width: 250px;
  height: 40px;
  background-color: aqua;
  font-size: 25px;
  font-family: "Arial";
  font-weight: bold;

  border-radius: 20px;
  border-style: none;
  cursor: pointer;
 }